body{
    text-align:center;
}
h1{
    color: blue;
}
h2{
    font-size: 14px;
    text-decoration:line-through;
    line-height:10px;
}
p{
    font-size: 12px;
    color: yellow;
    background-color: black;
    text-indent: 1cm;
    text-transform:inherit;
    word-spacing:15px;
    white-space: pre-line;
    font-family:fantasy ;
}
img{
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
p.paragraph span{
    color: brown;
    font-weight:900;
}
